{% extends 'unfold/layouts/base_simple.html' %}

{% load static %}
{% load i18n unfold %}

{% block breadcrumbs %}
{% endblock breadcrumbs %}
{% block title %}
  {% trans 'Dashboard' %} | {{ site_title|default:_("Django site admin") }}
{% endblock title %}
{% block branding %}
  <h1 id="site-name">
    <a href="{% url 'admin:index' %}">{{ site_header }}</a>
  </h1>
{% endblock branding %}
{% block extrahead %}
  {% if plausible_domain %}
    <script defer
            data-domain="{{ plausible_domain }}"
            src="https://plausible.io/js/script.js"></script>
  {% endif %}
  <link rel="stylesheet" href="{% static 'css/top_cards.css' %}" />
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
  <script src="{% static 'js/top_cards.js' %}"></script>
  <script src="{% static 'js/line_chart.js' %}"></script>
  <script src="{% static 'js/top_providers.js' %}"></script>
  <script src="{% static 'js/contact_messages.js' %}"></script>
{% endblock extrahead %}
{% block content %}
  {% include "unfold/helpers/messages.html" %}
  {% component "unfold/components/container.html" %}
  <div class="flex flex-col gap-8 mb-12">




    <!-- Top Cards Section -->
    {% include "admin/components/top_cards.html" %}



  </div>
{% endcomponent %}
{% endblock content %}
