{% extends 'unfold/layouts/base_simple.html' %}

{% load static %}
{% load i18n unfold %}

{% block breadcrumbs %}
{% endblock breadcrumbs %}
{% block title %}
  {% trans 'Dashboard' %} | {{ site_title|default:_("Django site admin") }}
{% endblock title %}
{% block branding %}
  <h1 id="site-name">
    <a href="{% url 'admin:index' %}">{{ site_header }}</a>
  </h1>
{% endblock branding %}
{% block extrahead %}
  {% if plausible_domain %}
    <script defer
            data-domain="{{ plausible_domain }}"
            src="https://plausible.io/js/script.js"></script>
  {% endif %}
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
  <script src="{% static 'js/top_cards.js' %}"></script>
{% endblock extrahead %}
{% block content %}
  {% include "unfold/helpers/messages.html" %}
  {% component "unfold/components/container.html" %}
  <div class="flex flex-col gap-8 mb-12">
    <!-- Top Cards Section -->
    {% include "admin/components/top_cards.html" %}
    <!-- Orders Chart Section -->
    {% component "unfold/components/card.html" with title=_("Total Orders Last 30 Days 🛍️") %}
    {% component "unfold/components/chart/bar.html" with data=chart height=320 %}
  {% endcomponent %}
{% endcomponent %}
<!-- Providers and Performance Section -->
<div class="flex flex-col gap-8 lg:flex-row">
  <!-- Top Providers -->
  {% component "unfold/components/card.html" with class="lg:w-1/2" title=_("Top Providers by Orders") %}
  <div class="flex flex-col gap-5">
    {% for metric in progress %}
      {% component "unfold/components/progress.html" with title=metric.title description=metric.description value=metric.value %}
    {% endcomponent %}
  {% endfor %}
</div>
{% endcomponent %}
<!-- Revenue Performance -->
<div class="flex flex-col gap-8 lg:w-1/2">
  {% for stats in performance %}
    {% component "unfold/components/card.html" %}
    {% component "unfold/components/text.html" %}
    {{ stats.title }}
  {% endcomponent %}
  {% component "unfold/components/title.html" with class="mb-8" %}
  {{ stats.title }}
{% endcomponent %}
{% component "unfold/components/chart/line.html" with data=stats.chart %}
{% endcomponent %}
{% endcomponent %}
{% endfor %}
</div>
</div>
</div>
{% endcomponent %}
{% endblock content %}
